<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Forgot Password</title>
    {% load static %}
    <!-- Load Bootstrap and Static CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container-fluid">
        <div class="row h-100">
            <!-- Left Section -->
            <div class="col-md-6 login-left d-none d-md-flex">
                <div class="text-center">
                    <!-- Replace with your logo path -->
                    <img src="{% static 'image/CTS.png' %}" alt="Logo">
                    <h2>Application <br> Forgot Password</h2>
                    <p>Recover your account by resetting your password.</p>
                </div>
            </div>

            <!-- Right Section -->
            <div class="col-md-6 login-right">
                <div class="form-container">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <h4 style="color: firebrick;" class="text-center">{{message}}</h4>
                            {% else %}
                                <h4 style="color: dodgerblue;" class="text-center">{{message}}</h4>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <form method="POST" action="{% url 'forgot-password' %}">
                        {% csrf_token %}
                        <div class="mb-4 text-center">
                            <h2 class="">Password Reset</h2>
                        </div>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
{#                            <label class="form-label" for="email">Enter your email</label>#}
                            <input type="email" placeholder="Enter your email or username" id="email" name="email" class="form-control" required />
                        </div>
                        
                        <!-- Reset Password Button -->
                        <div class="text-center">
                            <input type="submit" value="Reset Password" class="btn btn-primary btn-block mb-4">
                        </div>
                        <!-- Go back to login -->
                        <div class="text-center">
                            <p>Remembered? <a href="{% url 'login' %}">Login here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
