<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <!-- Load Bootstrap and Static CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
</head>
<body>
    <div class="container-fluid">
        <div class="row h-100">
            <!-- Left Section -->
            <div class="col-md-6 left d-none d-md-flex">
                <div class="text-center">
                    <!-- Replace with your logo path -->
                    <img src="{% static 'image/CTS.png' %}" alt="Logo">
                    <h2>Application <br> Login Page</h2>
                    <p>Login or register from here to access.</p>
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <h4 style="color: firebrick;" class="text-center">{{message}}</h4>
                    {% else %}
                        <h4 style="color: dodgerblue;" class="text-center">{{message}}</h4>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <!-- Right Section -->
            <div class="col-md-6 right">
                <div class="form-container">
                    
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        
                        <!-- Username input -->
                        <div class="form-outline mb-4">
{#                            <label class="form-label" for="username">Username</label>#}
                            <input type="text" placeholder="Your Username or Email" id="username" name="username" class="form-control" required />
                        </div>
                        
                        <!-- Password input -->
                        <div class="form-outline mb-4">
{#                            <label class="form-label" for="password">Password</label>#}
                            <input type="password" placeholder="Your Password" id="password" name="password" class="form-control" required />
                        </div>
                        <!-- Remember me checkbox -->
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" id="remember_me" name="remember_me">
                            <label class="form-check-label" for="remember_me"> Remember me </label>
                        </div>
                        <div class="text-center">
                        <!-- Sign In Button -->
                            <input type="submit" value="Log In" class="btn btn-primary btn-block mb-4">
                        </div>
                        <!-- Forgot password link -->
                        <div class="text-center">
                            <a href="{% url 'forgot-password' %}">Forgot password?</a>
                        </div>
                        
                        <!-- Register link -->
                        <div class="text-center">
                            <p>Not a member? <a href="{% url 'register' %}">Register</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
